# Must always set to production
# @see {@link https://www.youtube.com/watch?v=HMM7GJC5E2o}
NODE_ENV=production

CAN_CREATE_DATABASE=0
CAN_DROP_DATABASE=0
CAN_SEED_DATABASE=0

# Database
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=test_db
MYSQL_USER=test_user
MYSQL_PASSWORD=test_password

# Server
FASTIFY_CLOSE_GRACE_DELAY=1000
LOG_LEVEL=info

# Security
COOKIE_SECRET=
COOKIE_NAME=
RATE_LIMIT_MAX=4 # 4 for tests
