name: CI

on:
  push:
    branches:
      - main
      - next
      - "v*"
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]

    services:
      mysql:
        image: mysql:8.4
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root_password
          MYSQL_DATABASE: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_password
        options: >-
          --health-cmd="mysqladmin ping -u$MYSQL_USER -p$MYSQL_PASSWORD"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i

      - name: Lint Code
        run: npm run lint

      - name: Build Vite
        run: npm run build:client

      - name: Generate JWT Secret
        id: gen-jwt
        run: |
          JWT_SECRET=$(openssl rand -hex 32)
          echo "JWT_SECRET=$JWT_SECRET" >> $GITHUB_ENV

      - name: Generate dummy .env for scripts using -env-file=.env flag
        run: touch .env

      - name: Test
        env:
          # JWT_SECRET is dynamically generated and loaded from the environment
          MYSQL_HOST: localhost
          MYSQL_PORT: 3306
          MYSQL_DATABASE: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_password
          RATE_LIMIT_MAX: 4
          FASTIFY_VITE_DEV_MODE: false
        run: npm run db:migrate && npm run test
