name: CI

on:
  push:
    branches:
      - main
      - next
      - "v*"
    paths-ignore:
      - "docs/**"
      - "*.md"
      - "*.example"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"

permissions:
  contents: read

jobs:
  build-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]

    services:
      mysql:
        image: mysql:8.4
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root_password
          MYSQL_DATABASE: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_password
        options: >-
          --health-cmd="mysqladmin ping -u$MYSQL_USER -p$MYSQL_PASSWORD"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Build
        run: npm run build -- --noEmit

      - name: Lint Code
        run: npm run lint

      - name: Generate COOKIE Secret
        run: |
          COOKIE_SECRET=$(openssl rand -hex 32)
          echo "COOKIE_SECRET=$COOKIE_SECRET" >> $GITHUB_ENV

      - name: Generate dummy .env for scripts using -env-file=.env flag
        run: touch .env

      - name: Test
        env:
          MYSQL_HOST: localhost
          MYSQL_PORT: 3306
          MYSQL_DATABASE: test_db
          MYSQL_USER: test_user
          MYSQL_PASSWORD: test_password
          # COOKIE_SECRET is dynamically generated and loaded from the environment
          COOKIE_NAME: 'sessid'
          RATE_LIMIT_MAX: 4
          CAN_SEED_DATABASE: 1
        run: npm run db:migrate && npm run test
